{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.media %}
        <a class="pull-left" style="margin-right: 10px;" href="{{ path('admin_sonata_media_media_edit', { 'id': object.media.id }) }}">{% thumbnail attribute(object, field_description.name ), 'admin' with {'width': 75, 'height': 60} %}</a>
        <div class="pull-left">
            <strong><a href="{{ path('admin_sonata_media_media_edit', { 'id': object.media.id }) }}">{{ object.media.name }}</a></strong>
            <br/>
            {{ object.media.width }}x{{ object.media.height }}
        </div>
    {% endif %}
{% endblock %}